$default-text-color-wi: #ffffff !important;
$default-text-color-bl: #212529 !important;
$default-background: white !important;
$default-background-striped: rgb(248, 249, 250) !important;
$default-theme-color-background: #ffc800 !important;
$background-when-hover-portfolio: rgba(255, 200, 0, .9);